<style>
    .hidden-text {
        display: none;
    }
</style>

<script>
    const moreButton = document.getElementById('more-button');
    const moreContent = document.getElementById('more-content');

    moreButton.addEventListener('click', function() {
        if (moreContent.style.display === 'none') {
            moreContent.style.display = 'block';
        } else {
            moreContent.style.display = 'none';
        }
    });
</script>

<p class="hidden-text" id="more-content">{{ details | markdownify}}</p>